.banner-block {
  display: flex;
  justify-content: space-between;
  align-items: start;
  max-width: 1280px;
  margin: 188px auto 0 auto;
}
.banner-block__main-content {
  margin-top: 11px;
}
.banner-block__title {
  max-width: 847px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Montserrat", serif;
  font-weight: 800;
  font-size: 56px;
  line-height: 125%;
}
.banner-block__title-large {
  font-size: 64px;
  line-height: 100%;
}
.banner-block__title-low {
  text-transform: lowercase;
  font-size: 52px;
  line-height: 100%;
  color: #969AF7;
}
.banner-block__text {
  max-width: 730px;
  color: #969AF7;
  font-family: "Commissioner", serif;
  font-weight: 300;
  font-size: 21px;
  line-height: 130%;
  margin: 4px 0 37px 0;
}


@media (min-width: 360px) and (max-width: 739px) {
  .banner-block {
    display: block;
    max-width: 340px;
    margin: 175px auto 0 auto;
  }
  .banner-block__main-content {
    margin-top: 0px;
  }
  .banner-block__title {
    max-width: 295px;
    font-size: 34px;
  }
  .banner-block__title-large {
    font-size: 42px;
  }
  .banner-block__title-low {
    font-size: 32px;
  }
  .banner-block__text {
    max-width: 340px;
    font-size: 16px;
    margin: 10px 0 20px 0;
  }
}

@media (min-width: 740px) and (max-width: 1199px) {
  .banner-block {
    display: block;
    max-width: 730px;
    margin: 200px auto 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
  }
  .banner-block__main-content {
    margin-top: 0px;
  }
  .banner-block__title {
    max-width: 590px;
    font-size: 40px;
  }
  .banner-block__title-large {
    font-size: 48px;
  }
  .banner-block__title-low {
    font-size: 35px;
  }
  .banner-block__text {
    max-width: 640px;
    font-size: 17px;
    margin: 15px 0 25px 0;
  }
}

@media (min-width: 1200px) and (max-width: 1439px)  {
  .banner-block {
    max-width: 1000px;
    margin: 200px auto 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
  .banner-block__main-content {
    margin-top: 0px;
  }
  .banner-block__title {
    max-width: 580px;
    font-size: 40px;
  }
  .banner-block__title-large {
    font-size: 46px;
  }
  .banner-block__title-low {
    font-size: 34px;
  }
  .banner-block__text {
    max-width: 520px;
    font-size: 17px;
    margin: 15px 0 25px 0;
  }
}

@media (min-width: 1440px) and (max-width: 1910px) {
  .banner-block {
    max-width: 1200px;
  }
  .banner-block__title {
    max-width: 650px;
    font-size: 46px;
  }
  .banner-block__title-large {
    font-size: 52px;
  }
  .banner-block__title-low {
    font-size: 40px;
  }
  .banner-block__text {
    max-width: 670px;
    font-size: 18px;
    margin: 15px 0 25px 0;
  }
}