.advantages {
  width: 835px;
  height: 150px;
  background: linear-gradient(
    to right,
    rgba(150, 154, 247, 0.3) 0%,
    rgba(150, 154, 247, 0) 100%
  );
  border-radius: 10px;
}
.advantages__list {
  list-style-type: none;
  display: grid;
  gap: 5px;
  padding-top: 25px;
  padding-left: 30px;
}
.advantages__item {
  font-family: "Commissioner", serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  color: #ffffff;
}
.advantages__item img {
  margin-right: 14px;
}


@media (min-width: 360px) and (max-width: 743px) {
  .advantages {
    width: 340px;
    height: 150px;
  }
  .advantages__list {
    padding-top: 15px;
    padding-left: 20px;
  }
  .advantages__item {
    font-size: 14px;
  }
  .advantages__item img {
    margin-right: 10px;
  }
}

@media (min-width: 744px) and (max-width: 1199px) {

}

@media (min-width: 1200px) and (max-width: 1439px)  {

}

@media (min-width: 1440px) and (max-width: 1919px) {

}