.advantage-card {
  width: 369px;
  height: 406px;
  background-image: url("/src/images/backgrounds/bg-card.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0px 4px 30px rgba(9, 38, 192, 0.05);
}
.advantage-card__logo {
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: center;
}
.advantage-card__title {
  color: #2a336c;
  font-family: "Montserrat", serif;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  margin: 39px auto 14px auto;
}
.advantage-card__description {
  max-width: 287px;
  color: #555555;
  font-family: "Commissioner", serif;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  margin: 0 auto;
}

.advantage-card:nth-child(3) .advantage-card__description {
  max-width: 275px;
}
.advantage-card:nth-child(5) .advantage-card__description {
  max-width: 275px;
}


@media (min-width: 360px) and (max-width: 739px) {
  .advantage-card {
    width: 340px;
    height: 310px;
  }
  .advantage-card__logo {
    margin: 25px auto 0 auto;
    width: 120px;
  }
  .advantage-card__title {
    font-size: 16px;
    margin: 30px auto 10px auto;
  }
  .advantage-card__description {
    max-width: 270px;
    font-size: 14px;
  }
}

@media (min-width: 740px) and (max-width: 1199px) {
  .advantage-card {
    width: 340px;
    height: 310px;
  }
  .advantage-card__logo {
    margin: 25px auto 0 auto;
    width: 120px;
  }
  .advantage-card__title {
    font-size: 16px;
    margin: 30px auto 10px auto;
  }
  .advantage-card__description {
    max-width: 270px;
    font-size: 14px;
  }
}

@media (min-width: 1200px) and (max-width: 1439px)  {
  .advantage-card {
    width: 320px;
    height: 325px;
  }
  .advantage-card__logo {
    margin: 25px auto 0 auto;
    width: 130px;
  }
  .advantage-card__title {
    font-size: 16px;
    margin: 30px auto 10px auto;
  }
  .advantage-card__description {
    width: 235px;
    font-size: 15px;
  }
}

@media (min-width: 1440px) and (max-width: 1919px) {

}