.advantage-card {
  width: 369px;
  height: 406px;
  background-image: url("/src/images/backgrounds/bg-card.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0px 4px 30px rgba(9, 38, 192, 0.05);
}
.advantage-card__logo {
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: center;
}
.advantage-card__title {
  color: #2a336c;
  font-family: "Montserrat", serif;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  margin: 39px auto 14px auto;
}
.advantage-card__description {
  max-width: 287px;
  color: #555555;
  font-family: "Commissioner", serif;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  margin: 0 auto;
}

.advantage-card:nth-child(3) .advantage-card__description {
  max-width: 275px;
}
.advantage-card:nth-child(5) .advantage-card__description {
  max-width: 275px;
}