@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap");

.header {
  width: 100%;
  padding: 55px 0;
  box-sizing: border-box;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background 0.3s ease;
}
.header.scrolled {
  background: rgba(3, 4, 58, 0.781);
}
.header__main-box {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}
.header__contact {
  display: flex;
  align-items: center;
}
.header__contact-number {
  margin-left: 9px;
  color: #FFFFFF;
  font-family: "Jost", serif;
  font-weight: 400;
  font-size: 18px;
}