.callback__container {
  width: 380px;
  height: 473px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.callback__title {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 23px;
  background: linear-gradient(
    to bottom,
    rgb(106, 50, 180) 0%,
    rgb(85, 38, 147) 100%
  );
  padding: 32px 60px 24px 60px;
  border-radius: 10px 10px 0 0;
}
.callback__form {
  padding: 30px 40px 35px 40px;
  box-sizing: border-box;
}
.callback__input {
  width: 100%;
  height: 56px;
  border-radius: 10px;
  background: #f5f3ff;
  border: none;
  padding-left: 20px;
  box-sizing: border-box;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
  font-family: "Commissioner", serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  margin-top: 10px;
}
.callback__input::-moz-placeholder {
  font-family: "Commissioner", serif;
  font-weight: 400;
  font-size: 18px;
  color: #bcbfc4;
}
.callback__input::placeholder {
  font-family: "Commissioner", serif;
  font-weight: 400;
  font-size: 18px;
  color: #bcbfc4;
}
.callback__field:first-child {
  margin-bottom: 6px;
}
.callback__label {
  font-family: "Commissioner", serif;
  font-weight: 400;
  font-size: 16px;
  color: #626366;
  margin: 0 0 0 20px;
}
.callback__button, .callback__button-open-form {
  width: 100%;
  margin: 35px auto 17px auto;
  border: none;
  border-radius: 10px;
  background: #ffa500;
  color: #ffffff;
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  padding: 19px 0;
  box-sizing: border-box;
  cursor: pointer;
}
.callback__note {
  display: flex;
  align-items: center;
  font-family: "Commissioner", serif;
  font-weight: 400;
  font-size: 12px;
  color: #c0c0c0;
}
.callback__note img {
  margin-right: 10px;
}
.callback__button-open-form {
  display: none;
}


@media (min-width: 360px) and (max-width: 739px) {
  .callback__container {
    display: none;
    width: 340px;
    height: 400px;
  }
  .callback__title {
    font-size: 18px;
    padding: 25px 60px 24px 60px;
  }
  .callback__form {
    padding: 25px 40px 25px 40px;
  }
  .callback__input {
    height: 45px;
    padding-left: 15px;
    margin-top: 6px;
    font-size: 15px;
  }
  .callback__input::-moz-placeholder {
    font-size: 15px;
  }
  .callback__input::placeholder {
    font-size: 15px;
  }
  .callback__field:first-child {
    margin-bottom: 3px;
  }
  .callback__label {
    font-size: 14px;
    margin: 0 0 0 15px;
  }
  .callback__button, .callback__button-open-form {
    margin: 25px auto 13px auto;
    font-size: 15px;
    padding: 15px 0;
  }
  .callback__note {
    font-size: 11px;
  }
  .callback__button-open-form {
    display: block;
  }
}

@media (min-width: 740px) and (max-width: 1199px) {
  .callback__container {
    width: 340px;
    height: 400px;
    margin: 30px auto 0 auto;
  }
  .callback__title {
    font-size: 18px;
    padding: 25px 60px 24px 60px;
  }
  .callback__form {
    padding: 25px 40px 25px 40px;
  }
  .callback__input {
    height: 45px;
    padding-left: 15px;
    margin-top: 6px;
    font-size: 15px;
  }
  .callback__input::-moz-placeholder {
    font-size: 15px;
  }
  .callback__input::placeholder {
    font-size: 15px;
  }
  .callback__field:first-child {
    margin-bottom: 3px;
  }
  .callback__label {
    font-size: 14px;
    margin: 0 0 0 15px;
  }
  .callback__button, .callback__button-open-form {
    margin: 25px auto 13px auto;
    font-size: 15px;
    padding: 15px 0;
  }
  .callback__note {
    font-size: 11px;
  }
  .callback__button-open-form {
    display: none;
  }
}

@media (min-width: 1200px) and (max-width: 1439px)  {
  .callback__container {
    width: 340px;
    height: 400px;
    margin: 0px auto;
  }
  .callback__title {
    font-size: 18px;
    padding: 25px 60px 24px 60px;
  }
  .callback__form {
    padding: 25px 40px 25px 40px;
  }
  .callback__input {
    height: 45px;
    padding-left: 15px;
    margin-top: 6px;
    font-size: 15px;
  }
  .callback__input::-moz-placeholder {
    font-size: 15px;
  }
  .callback__input::placeholder {
    font-size: 15px;
  }
  .callback__field:first-child {
    margin-bottom: 3px;
  }
  .callback__label {
    font-size: 14px;
    margin: 0 0 0 15px;
  }
  .callback__button, .callback__button-open-form {
    margin: 25px auto 13px auto;
    font-size: 15px;
    padding: 15px 0;
  }
  .callback__note {
    font-size: 11px;
  }
  .callback__button-open-form {
    display: none;
  }
}

@media (min-width: 1440px) and (max-width: 1919px) {

}