.manufacturers {
    background-image: url('/src/images/backgrounds/bg-manufacturers.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 155px 0;
    box-sizing: border-box;
}
.manufacturers__title {
    color: #FFFFFF;
    font-family: "Montserrat", serif;
    font-weight: 800;
    font-size: 42px;
    text-align: center;
}
.manufacturers__slider {
    position: relative;
    max-width: 1280px;
    margin: 57px auto 42px auto;
}
.manufacturers__images {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
}
.manufacturers__description {
    max-width: 1270px;
    color: #FFFFFF;
    font-family: "Commissioner", serif;
    font-weight: 300;
    font-size: 17px;
    text-align: left;
    margin: 0 auto;
    line-height: 31px;
}
.manufacturers__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background: transparent;
    border: none;
    cursor: pointer;
}

.manufacturers__arrow-left {
    left: -100px; 
}

.manufacturers__arrow-right {
    right: -100px;
}

.manufacturers__image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


@media (min-width: 360px) and (max-width: 739px) {
    .manufacturers {
        padding: 85px 0;
    }
    .manufacturers__title {
        font-size: 28px;
        text-align: center;
    }
    .manufacturers__slider {
        max-width: 340px;
        margin: 30px auto 25px auto;
    }
    .manufacturers__description {
        max-width: 320px;
        font-size: 14px;
        line-height: 26px;
    }
    .manufacturers__arrow {
        display: none;
    }
    .manufacturers__image {
        width: 200px;
    }
    .manufacturers__images {
        box-shadow: none;
    }
}

@media (min-width: 740px) and (max-width: 1199px) {
    .manufacturers {
        padding: 85px 0;
    }
    .manufacturers__title {
        font-size: 32px;
        text-align: center;
    }
    .manufacturers__slider {
        max-width: 640px;
        margin: 30px auto 25px auto;
    }
    .manufacturers__description {
        max-width: 640px;
        font-size: 15px;
        line-height: 26px;
    }
    .manufacturers__arrow {
        display: none;
    }
    .manufacturers__image {
        width: 250px;
    }
    .manufacturers__images {
        box-shadow: none;
    }
}

@media (min-width: 1200px) and (max-width: 1439px)  {
    .manufacturers {
        padding: 100px 0;
    }
    .manufacturers__title {
        font-size: 36px;
        text-align: center;
    }
    .manufacturers__slider {
        max-width: 700px;
        margin: 40px auto 35px auto;
    }
    .manufacturers__description {
        max-width: 800px;
        font-size: 16px;
        line-height: 26px;
    }
    .manufacturers__image {
        width: 200px;
    }
    .manufacturers__arrow-left {
        left: -100px; 
    }
    
    .manufacturers__arrow-right {
        right: -100px;
    }
}

@media (min-width: 1440px) and (max-width: 1919px) {

}