.workflow {
    position: relative;
}
.container {
    position: relative;
    background: url('/src/images/backgrounds/bg-workflow.png') no-repeat;
    background-size: cover;
    padding: 80px 0 154px 0;
    box-sizing: border-box;
    
}
.workflow__title {
    color: #111111;
    font-family: "Montserrat", serif;
    font-weight: 800;
    font-size: 42px;
    text-align: center;
}
.workflow__description {
    max-width: 1100px;
    color: #333333;
    font-family: "Commissioner", serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 23px auto 46px auto;
}
.workflow__steps {
    display: grid;
        grid-template-areas:
        "step1 step2 step3"
        "step6 step5 step4";
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
}

.workflow__button {
    width: 300px;
    height: 56px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #ffa500;
    color: #ffffff;
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 48px auto 0 auto;
}


@media (min-width: 360px) and (max-width: 739px) {
    .container {
        padding: 40px 0 110px 0;       
    }
    .workflow__title {
        font-size: 28px;
    }
    .workflow__description {
        max-width: 320px;
        font-size: 14px;
        margin: 15px auto 30px auto;
    }
    .workflow__steps {
        display: grid;
            grid-template-areas:
            "step1"
            "step2"
            "step3"
            "step4"
            "step5"
            "step6";
        max-width: 340px;
        gap: 10px;
    }
    
    .workflow__button {
        width: 340px;
        height: 50px;
        font-size: 15px;
        margin: 30px auto 0 auto;
    }
}

@media (min-width: 740px) and (max-width: 1199px) {
    .container {
        padding: 40px 0 110px 0;       
    }
    .workflow__title {
        font-size: 32px;
    }
    .workflow__description {
        max-width: 640px;
        font-size: 15px;
        margin: 15px auto 30px auto;
    }
    .workflow__steps {
        display: grid;
            grid-template-areas:
            "step1 step2"
            "step3 step4"
            "step5 step6";
        max-width: 700px;
        gap: 10px;
    }
    
    .workflow__button {
        width: 260px;
        height: 55px;
        font-size: 16px;
        margin: 30px auto 0 auto;
    }
}

@media (min-width: 1200px) and (max-width: 1439px)  {
    .container {
        padding: 50px 0 130px 0;       
    }
    .workflow__title {
        font-size: 36px;
    }
    .workflow__description {
        max-width: 1000px;
        font-size: 16px;
        margin: 15px auto 30px auto;
    }
    .workflow__steps {
        display: grid;
        grid-template-areas:
            "step1 step2"
            "step6 step3"
            "step5 step4";
        max-width: 900px;
        gap: 10px;
    }
    
    .workflow__button {
        width: 280px;
        font-size: 17px;
        margin: 40px auto 0 auto;
    }
}

@media (min-width: 1440px) and (max-width: 1919px) {
    .container {
        padding: 60px 0 140px 0;       
    }
    .workflow__title {
        font-size: 38px;
    }
    .workflow__description {
        max-width: 1000px;
        font-size: 18px;
        margin: 20px auto 35px auto;
    }
}