@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");
* {
    margin: 0;
    padding: 0;
}

.App {
    background-color: #F2F2F4;
    overflow: hidden;
}

.header-main {
    background-image: url('/src/images/backgrounds/bg-header.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 55px 0 189px 0;
}