@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");
* {
    margin: 0;
    padding: 0;
}

.App {
    background-color: #F2F2F4;
    overflow: hidden;
}

.header-main {
    background-image: url('/src/images/backgrounds/bg-header.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 0 189px 0;
    box-sizing: border-box;
    overflow: hidden;
}

@media (min-width: 360px) and (max-width: 739px) {
    .header-main {
        padding: 0 0 100px 0;
    }
}

@media (min-width: 740px) and (max-width: 1199px) {
    .header-main {
        padding: 0 0 150px 0;
    }
}

@media (min-width: 1200px) and (max-width: 1439px)  {
    .header-main {
        padding: 0 0 130px 0;
    }
}
